<%= turbo_frame_tag "favorite_concerts" do %>
  <section
    class="my-4"
    data-controller="css"
    data-css-applied-value="false"
    data-css-css-class="hidden"
  >
    <div class="text-3xl font-bold">Favorite Concerts</div>
    <button
      class="<%= SimpleForm.button_class %> py-1 text-xl font-semibold"
      data-controller="text"
      data-text-target="elementWithText"
      data-text-status-value="false"
      data-text-on-value="Show"
      data-text-off-value="Hide"
      data-action="click->css#toggleClass click->text#toggle"
    >
      Hide
    </button>
    <div data-css-target="element">
      <div class="text-xl font-bold" id="no-favorites">
        <% if current_user.favorites.empty? %>
          No favorite concerts yet
        <% end %>
      </div>
      <div id="favorite-concerts-list">
        <% current_user.favorites.each do |favorite| %>
          <%= render(favorite) %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
